/* Matias Valle Trapiella UO300652*/
/* Estilos generales del proyecto MotoGP-Desktop: ...*/

/* Especificidad: 001 */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff; /* Color de fondo de todos los elementos */
    color: #000000;            /* Color de primer plano para el texto de todos los elementos */
}

/* Especificidad: 001 */
header{
    background-color: #3232e8;
}

/* Especificidad: 003, 003 */
header h1 a, header nav a{
    color: #ffffff;
    text-decoration-line: none;
}

/* Especificidad: 001 */
h1{
    color: #ffffff;
}

/* Especificidad: 010 */
.active
{
    color: #26FF00;
}

/* Especificidad: 002 */
header + nav
{
    font-size: 1.4em;
}
