/* Matias Valle Trapiella UO300652*/
/* Reglas para aplicar esquemas de posicionamiento de los elementos del proyecto MotoGP-Desktop:
Media query para dispositivos móviles (320px - 799px) redifine las siguientes propiedades:
Cambiar el Flexbox del header a vertical
REDEFINICIÓN: Se modifica flex-direction de row a column
REDEFINICIÓN: Se modifica align-items de center a flex-start
Ocultar migas de navegación en móviles
REDEFINICIÓN: Se modifica display de block a none 
Adaptabilidad para video 
REDEFINICIÓN: Se modifica width del valor por defecto a 100% 
REDEFINICIÓN: Se modifica height del valor por defecto a auto 
Adaptabilidad para audio 
REDEFINICIÓN: Se modifica width del valor por defecto a 100% 
*/

/*Especificidad 001*/
header {
    display: flex;    
}

/*Especificidad 002*/
header h1 {
    margin-left: 1em;
    margin-right: auto;
}

/*Especificidad 002*/
header nav {
    display: flex;
    align-items: center;
    margin-right: 2em;
}

/*Especificidad 003*/
header nav a {
    flex: 1;
    margin-left: 1.5em;
}

/* Media query para dispositivos móviles (320px - 799px) */
@media (min-width: 320px) and (max-width: 799px) {
    
    /* Cambiar el Flexbox del header a vertical */
    header, header h1, header nav {
        flex-direction: column; 
        align-items: flex-start; 
    }
    
    /* Ocultar migas de navegación en móviles */
    .breadcrumb {
        display: none; /* no se muestra en móviles */
    }

    header nav a {
        flex: 1;
        padding: 0.5em;
    }   

    video {
        width:100%;
        height:auto;
    }

    audio {
        width:100%;
    }
}
